obj
bin
.idea
.env

# Tools
Steam
Server
Library
Shots
Temp
UserSettings
Logs
*/PrefabScreenshots/*.csproj
*/PrefabScreenshots/*.sln

# Docs
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
node_modules
